# #Task 1

# SIRSS1253

# Richa Swami

# Q.1
    5 5 5 5 5 
    5 5 5 5 
    5 5 5
    5 5
    5

In [1]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print("5", end=" ")
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

#  Q.2
    0 1 2 3 4 5
    0 1 2 3 4
    0 1 2 3
    0 1 2
    0 1

In [2]:
for i in range(6,1,-1):
    n=0
    for j in range(1,i+1):
        print(n, end=" ")
        n=n+1
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

# Q.3
    1
    3 3
    5 5 5
    7 7 7 7
    9 9 9 9 9

In [3]:
n=-1
for i in range(1,6):
    n=n+2
    for j in range(1,i+1):
        print(n, end=" ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

# Q.4
    1
    2 1
    3 2 1 
    4 3 2 1
    5 4 3 2 1

In [4]:
for i in range(1,6):
    n=i
    for j in range(1,i+1):
        print(n, end=" ")
        n=n-1
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# Q.5
    1
    3 2
    6 5 4
    10 9 8 7

In [5]:
a=1
b=2
n=b
for i in range(2,6):
    for j in range(a,b):
        n=n-1
        print(n, end=" ")
    print()
    a=b
    b+=i
    n=b

1
3 2
6 5 4
10 9 8 7

# Q.6
    1 
    1 1
    1 2 1
    1 3 3 1
    1 4 6 4 1
    1 5 10 10 5 1
    1 6 15 20 15 6 1

In [6]:
n=int(input("Enter the row number"))
list1 = []
for i in range(n):
    temp_list=[]
    for j in range(i+1):
        if j==0 or j==i:
            temp_list.append(1)
        else:
            temp_list.append(list1[i-1][j-1] + list1[i-1][j])
    list1.append(temp_list)
    
for i in range(n):
    for j in range(i+1):
        print(list1[i][j], end=" ")
    print()

Enter the row number7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

# Q.7
    1 2 3 4 5
    2 2 3 4 5
    3 3 3 4 5
    4 4 4 4 5
    5 5 5 5 5

In [7]:
for i in range(1,6):
    
    for j in range(1,6):
       
        if j<=i:
            print(i,end=" ")
            
        else:
            print(j, end=" ")
            
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

# Q.8
    1
    2 4
    3 6 9 
    4 8 12 16
    5 10 15 20 25
    6 12 18 24 30 36
    7 14 21 28 35 42 49
    8 16 24 32 40 48 56 64

In [8]:
for i in range(1,9):
    x=1
    for j in range(1,i+1):
        n=i*x
        print(n, end=" ")
        x+=1
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

# Q.9
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [9]:
n=int(input("Enter a number"))
for i in range(n,0,-1):
    print(" "*(n-i)+"* "*i)

Enter a number6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

# Q.10
          *
         * *  
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *

In [10]:
n=int(input("Enter a number"))
for i in range(1,n+1):
    print(" "*(n-i)+"* "*i)

Enter a number7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

# Q.11
    * 
    * *
    * * *
    * * * *
    * * * * *
    * * * * * *
    
    * * * * * *
    * * * * * 
    * * * *
    * * *
    * *
    *

In [11]:
for i in range(1,6):
    print("* "*i)
    
print()
for i in range(6,0,-1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

# Q.12
    *
    * *
    * * *
    * * * *
    * * * * *
    * * * *
    * * *
    * *
    *

In [12]:
for i in range(1,6):
    print("* "*i)
for i in range(4,0,-1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Q.13
            *  
          * *
        * * *
      * * * *
    * * * * *
      * * * *
        * * *
          * *
            *

In [13]:
n=int(input("Enter a number"))
for i in range(1,n+1):
    print("  "*(n-i)+"* "*i)
for i in range(n-1,0,-1):
    print("  "*(n-i)+"* "*i)

Enter a number5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

# Q.14
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *

In [14]:
n=int(input("Enter a number"))
for i in range(n,0,-1):
    print(" "*(n-i)+"* "*i)
for i in range(1,n+1):
    print(" "*(n-i)+"* "*i)

Enter a number5
* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

# Q.15
    ****************
    *******__*******
    ******____******
    *****______*****
    ****________****
    ***__________***
    **____________**
    *______________*

In [15]:
for i in range(1,9):
    for j in range(1,17):
        if(j<=9-i or j>=8+i):
            print("*", end="")
        else:
            print("_",end="")
    print()

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*